# OS-specific
.DS_Store

# editors
*.swp

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags

# Vagrant
.vagrant
Vagrantfile
!example_box/Vagrantfile

*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bundle/
